.categories {
  ul {
    display: flex;
    flex-wrap: wrap;

    @media screen and (max-width: 479px) {
      justify-content: center;
    }


    li {
      font-weight: bold;
      padding: 13px 30px;
      border-radius: 30px;
      margin: 0 10px 15px 0;
      background-color: #f9f9f9;
      transition: background-color 0.1s ease-in-out;
      cursor: pointer;

      @include noselect();

      &:hover {
        background-color: darken(#f9f9f9, 2%);
      }

      &:active {
        background-color: darken(#f9f9f9, 5%);
      }

      &.active {
        background-color: #282828;
        color: #fff;
      }

      @media screen and (max-width: 767px) {
        font-size: 14px;
        padding: 7px 15px;
        border-radius: 16px;
      }
    }
  }
}
