.sort {
  position: relative;
  margin: 0 0 15px auto;
  padding: 12px 0;

  @media screen and (max-width: 479px) {
    margin: 0 auto 15px;
  }

  &__label {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    min-width: 260px;

    svg {
      margin-right: 8px;
    }

    b {
      margin-right: 8px;
    }

    span {
      color: $orange;
      border-bottom: 1px dashed $orange;
      cursor: pointer;

      span {
        display: none;
      }
    }

    @media screen and (max-width: 479px) {
      min-width: auto;

      b {
        display: none;
      }

      span {
        span {
          display: inline;
        }
      }
    }
  }

  &__popup {
    right: 0;
    z-index: 2;
    overflow: hidden;
    position: absolute;
    background: #ffffff;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin-top: 15px;
    padding: 10px 0;
    width: 200px;

    ul {
      overflow: hidden;
      li {
        padding: 12px 20px;
        cursor: pointer;

        &.active,
        &:hover {
          background: rgba(254, 95, 30, 0.05);
        }

        &.active {
          font-weight: bold;
          color: $orange;
        }
      }
    }

    @media screen and (max-width: 479px) {
      transform: translate(-50%);
      right: auto;
      left: 50%;
    }
  }
}
